{% extends 'core/index.html' %}
{% load static %}
{% block content %}
<div >
    <div class="text-center">
<img src="{% static 'images/img1.jpg' %}" class="img-thumbnail mt-5" width="150px" height="50px"> 
</div>
<div class="text-white text-justify">

    <h3 class="mt-5"> Hello ,</h3>
    <div class="px-4 " style="line-height: 2rem;">
        <p style="text-indent: 100px;"> I am <b class="text-warning">Jasleen </b> having 2  year of exerperince
            in development projects .  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab repellat blanditiis quo natus expedita exercitationem voluptatum odit ad illo eos.

            <p >  I am <b class="text-warning">sample text</b> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia aut perferendis exercitationem delectus ea itaque, doloremque, nam voluptates, minima illo ipsa sunt. Quo nam aperiam ratione, veniam quod explicabo provident.</p>

        </p>
    </div>
</div>
<div class="text-center">
<a href="" class="btn btn-outline-warning mr-5 my-3">Hire Me</a>

<a href="" class="btn btn-outline-info my-3">Contact</a></div>
</div>
{% endblock%}