{% extends 'core/index.html'%}
{% load static %}
{% block content %}
<!--<div class="container" >
    <div class="row">
        
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
    </div>
</div>-->

<div class="container mt-3">
    <h1 class="text-warning mb-5 border-bottom ">SERVICES</h1>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search-dollar fa-2x mb-3 i-colo"></i>
            <h3> SEO </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-colo"></i>
            <h3> Web Development </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-3 i-colo"></i>
            <h3> Web Design </h3>
            <p class="ss-colo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab aliquam eius. </p>
        </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-colo"></i>
            <h3> Android </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-apple-alt fa-2x mb-3 i-colo"></i>
            <h3> iOS </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-pencil-alt fa-2x mb-3 i-colo"></i>
            <h3> Logo Design </h3>
            <p class="ss-colo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab aliquam eius. </p>
        </div>


    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa fa-database fa-2x mb-3 i-colo"></i>
            <h3> Hosting </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-headset fa-2x mb-3 i-colo"></i>
            <h3> Support </h3>
            <p class="ss-colo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sunt suscipit optio odit </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-ad fa-2x mb-3 i-colo"></i>
            <h3> Advertising </h3>
            <p class="ss-colo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ab aliquam eius. </p>
        </div>


    </div>
</div>

{% endblock %}